/* RESET */

*{
    box-sizing: border-box;
}

body, h1, h2, p, ul, li, a{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Baloo Bhaijaan 2', cursive;
    color: #222222;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

/* Cabeçalho */

header{
    flex: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    height: 15vh;
    padding: 10px 20px;background: rgb(2,0,36);
    background: linear-gradient(24deg, rgba(2,0,36,1) 0%, rgba(167,51,51,1) 0%, rgba(255,0,23,1) 86%);
}

header img{
    max-width: 50px;
    max-height: 50px;
    align-self: center;
}

div.logo{
    display: flex;
    align-content: center;
}

div.logo p{
    padding: 5px;
    font-weight: bold;
    font-size: 20pt;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

nav ul a:first-child{
    margin-left: 0px;
}

nav a{
    color: white;
    padding: 10px;
    margin: 0 5px;
    background-color: rgb(141, 42, 42);
    transition: 0.15s;
}

nav ul a:nth-child(5){
    margin-right: 0px;
}

nav ul a:hover{
    color: rgb(141, 42, 42);
    background-color: white;
}


/* section - home */

span{
    color: rgba(255,0,23,1);
}

section.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 75vh;
    margin: auto;
    width: 100%;
}

section.main h1{
    font-size: 50pt;
    text-align: center;
}

section.main p{
    font-size: 20pt;
    text-align: center;
}

/* section - dex */

section.dex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: center;
    /* min-height: 75vh; */
}

div.entrada{
    display: grid;
    grid-template-columns: 70px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    grid-template-areas: 
        "num fot fot"
        "tipo1 fot fot"
        "tipo2 nome nome"
    ;
    padding: 15px;
    margin: 10px 10px;
    background-color: seagreen;
    max-width: 210px;
    border-radius: 10px;
    gap: 5px;
}

.entrada .num{
    grid-area: num;
    color: white;
    font-size: 18pt;
    text-align: center;
    padding: 5px;
}

.entrada .fot{
    grid-area: fot;
    min-width: 100%;
    height: auto;
}

.entrada .nome{
    grid-area: nome;
    color: white;
    text-align: center;
    font-size: 15pt;
    font-weight: bold;
}

.entrada .tipo1{
    grid-area: tipo1;
    background-color: turquoise;
    padding: 2px;
    text-align: center;
    border-radius: 16px;
    color: white;
    max-height: 35px;
    border: solid black 1px;
}

.entrada .tipo2{
    grid-area: tipo2;
    background-color: turquoise;
    padding: 2px;
    text-align: center;
    border-radius: 16px;
    color: white;
    max-height: 35px;
    border: solid black 1px;
}

/* tela de loading */

.load{
    display: none;
    width: 100%;
    height: 100%;
    /* float: left; */
    position: fixed;
    background-color: rgba(255, 255, 255, 0.466);
    top: 0;
    left: 0;
}

.load.show{
    display: block;
}

.loading{
    visibility: hidden;
    position: absolute;
    left: 47%;
    top: 47%;
    width: 100px;
}

.loading.show{
    visibility: unset;
}


/* section - busca */

.form{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
    padding: 50px 0;
}

@media screen and (max-width:820px){
    .form{
        flex-direction: column;
    }
    .form .nome{
        border-radius: 10px 10px 0 0 !important;
    }
    .form .botao{
        border-radius: 0 0 10px 10px !important;
    }
}

.proc h2{
    padding: 10px;
    font-size: 35pt;
    text-align: center;
    margin-bottom: -40px;
}

.form .nome{
    flex: 3;
    font-size: 15pt;
    padding: 10px;
    border: solid black 1px;
    border-radius: 10px 0 0 10px;
    background-color: rgba(228, 228, 228, 0.349);
}

.form .botao{
    flex: 1;
    font-size: 15pt;
    padding: 10px;
    background-color: rgba(167,51,51,1);
    color: white;
    border: solid black 1px;
    border-left: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

div.res{
    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-template-areas: 
    "nome sprite stat stat"
    "tipo1 sprite stat stat"
    "tipo2 sprite2 stat stat"
    "num sprite2 stat stat"
    ;
    width: 900px;
    margin: 0px auto;
    gap: 0 100px;
    padding: 20px 0;
    
}

@media screen and (max-width:940px) {
    div.res{
        grid-template-areas: 
        "nome sprite"
        "tipo1 sprite"
        "tipo2 sprite2"
        "num sprite2"
        "stat stat"
        "stat stat"
        ;
        width: 450px;
        gap: 20px 10px;
        padding: 30px;
    }
}

.res{
    min-height: 100%;
}

.res .nome{
    flex: 1;
    align-self: center;
    grid-area: nome;
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
}

.res .sprite{
    grid-area: sprite;
    width: 100%;
}

.res .sprite2{
    grid-area: sprite2;
    width: 100%;
}

.res .tipo1{
    flex: 1;
    align-self: center;
    grid-area: tipo1;
    color: white;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    border: solid black 1px;
}

.res .tipo2{
    flex: 1;
    align-self: center;
    grid-area: tipo2;
    color: white;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    border: solid black 1px;
}

.res .num{
    grid-area: num;
    flex: 1;
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 20pt;
    font-weight: bold;
    background-color: rgba(167,51,51,1);
    border-radius: 10px;
    border: solid black 1px;
    color: white;
    width: 60%;
}


div#teste{
    grid-area: stat;
    display: grid;
    grid-template-columns: 230px 40px;
    gap: 10px;
    width:310px;
    padding: 10px;
    background-color: rgba(167,51,51,1);
    color: white;
    border-radius: 10px;
}

div#teste .status{
    width: 50px;
    background-color: rgb(206, 220, 221);
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    font-size: 15pt;
}

/* section sobre */

section.sobre{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

section.sobre p{
    font-size: 18pt;
}

section.sobre h2{
    font-size: 24pt;
}

/* section - contato */

section.contato{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.esquerda{
    flex: 2;
    flex-basis: 700px;
}

.direita{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 200px;
}

.social{
    flex-wrap: nowrap;
}

.direita img{
    border-radius: 200px;
}

.direita{
    max-width: 300px;
    font-size: 25pt;
}

.esquerda h2{
    font-size: 24pt;
}

.esquerda p{
    font-size: 16pt;
}

.fac{
    color: #3b5998;
}

.fac:hover {
    filter: brightness(85%);
}

.insta{
    color: #c0007a;
}

.insta:hover {
    filter: brightness(125%);
}

.twitter{
    color: #1DA1F2;
}

.twitter:hover {
    filter: brightness(85%);
}

.lattes{
    color: #326C99;
}

.lattes:hover {
    filter: brightness(85%);
}

.linkedin{
    color: #007bb5;
}

.linkedin:hover {
    filter: brightness(85%);
}

/* footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 20px;
    color: white;
    background: linear-gradient(24deg, rgba(2,0,36,1) 0%, rgba(167,51,51,1) 0%, rgba(255,0,23,1) 86%);
}

/* footer.bus{
    position: fixed;
    width: 100%;
    bottom: 0;
} */